div#text-container{
    position: relative;
    width: 70%;

    margin: 20px 0;
}

input{
    outline: none;
    background-color: var(--bg-color);
    border: none;
    border-bottom: 2px solid var(--sec-color);
    color: #fff;

    width: 100%;
    height: 100%;
}

input ~ label{
    color: rgb(189, 189, 189);
    font-size: 12px;
    
    position: absolute;
    left: 0;
    top: 0;
}
input ~ label:hover{
    cursor: text;
}
input:focus ~ label,
[classname = valido] ~ label{
    transform: translatey(-20px);

    transition: 0.4s;
}